
/* Home--Works */
.Works {
  margin: 0 0 160px;
}

.SectionTitle--Home {
  /* padding: clamp(1rem, 0.343rem + 2.7vw, 2.5rem) 0; */

}

.WorksItem--Home .WorksItem__Inner {
  padding: 0;
}

.WorksItem--Home .ImgList__LinkImage {
  width: 1000px;
  max-height: 700px;
}


.SectionTitle__About {
  height: 32px;
  position: relative;
}

.SectionTitle--Home--about {
  position: absolute;

  top: -50%;
  left: 50%;
  transform: translate(-50%);
}


/* Home--Practice */
.Practice__ScrollList {
  /* margin: 0 auto; */
  background-color: #F6F5DE;
  border-radius: 50px 50px 0 0;
  padding: 160px;
}



/* About */
.About {
  background-color: #F6F5DE;
}

.About__Item {
  background-color: #fffef2;
  border-radius: 50px 50px 0 0 ;

}



.About__Inner {

  display: flex;
  /* padding: 88px 0; */
  padding: calc((88 / 1280) * 100%) 0;

  justify-content: center;

  /* transform: translate(50%); */
}

.About__InnerText {
  display: flex;
  flex-direction: column;

}

.About__InnerTextName{
  /* font-size: 24px; */
  font-size: clamp(1rem, 0.781rem + 0.9vw, 1.5rem);
  /* margin: 40px */
  margin: 0 0 clamp(1rem, 0.273rem + 3.64vw, 3rem) 0;
}


.About__InnerIcon{
  order: -1;
  outline: solid 1px #C2C19B;
  /* margin: 72px */
  margin: 0 clamp(2rem, 0.904rem + 4.49vw, 4.5rem) 0 0;
}

/* .About__InnerIconImage {
  aspect-ratio: 200 / 200;
} */

.SectionTitleImage--About {
  width: calc((400 / 1280) * 100%);
  min-width: 200px;
  max-width: 400px;
}
