/* Swiperスタイル */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  /* font-size: 18px; */
  /* background: #fff; */
  justify-content: center;
  align-items: center;
  display: inline;

  width: calc(1000 / 1150 * 100%);
  max-width: 1000px;
    /* padding: 10-20px */
  padding: 0 clamp(0.625rem, 0.351rem + 1.12vw, 1.25rem);
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.swiper-scrollbar {
  display: none;
}

/* .swiper-slide:nth-child(2n) {
  width: 40%;
} */

/* .swiper-slide:nth-child(3n) {
  width: 20%;
} */




/* Home--Works */
.Works {
  padding: 0 0 300px;
}

.SectionTitle--Home {
  width: calc(400 / 1000 * 100%);
  min-width: 150px;
}


.Works .SectionTitle--Home .SectionTitleImage {
  width: 100%;
  margin: 0 0 40px 0;
}

.WorksItem--Home {
  width: 100%;
}

.WorksItem--Home .WorksItem__Inner {
  padding: 0;
  width: 100%;
}

.WorksItem--Home .WorksItem__Img {
  /* width: 100%; */
  position: relative;
}

.WorksItem--Home .ImgList {
  width: calc(1150 / 1280 * 100%);
  /* margin: 0 0 72px 0; */
}

.WorksItem--Home .ImgList__Link {
  /* width: 100%; */
  /* width: calc(1000 / 1150 * 100%);
  max-width: 1000px; */
    /* border-radius: 25 - 50px; */
  border-radius: clamp(1.563rem, 0.878rem + 2.81vw, 3.125rem);
  overflow: hidden;
  display: block;
}

.WorksItem--Home .ImgList__LinkImage {
  width: 100%;
}

.Works .TextContainer {
  /* width: calc(1000 / 1150 * 100%); */
  width: calc(1000 / 1280 * 100%);
  max-width: 1000px;
  margin: 0 auto ;
}


.Works .Introduce {
  width: 100%;
  /* width: calc(500 / 1000 *100%); */
  margin: 0 auto 40px;
}


.Works .Introduce__Description {
  text-align: center;
}

.Works .SectionTitle--Home {
    width: calc((400 / 1000) * 100%);
    margin: 0 auto;
    min-width: 180px;
    max-width: 400px;
}

.Works .ScrollDot {
  /* padding: 36px 0  0; */
  position: relative;
  height: 32px;
}

.Works .ScrollDot__Inner {
  /* display: inline; */
  /* padding: 40px 0; */
  /* margin: 40px 0; */
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 50%; */
  /* left: 0; */
  /* display: block; */
  /* padding: 8px 0; */
  margin: auto 0;

}


/* Practice */
/* 紹介文とロゴを囲むdiv */

.Practice .Practice__ScrollList {
  /* font-size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem); */
  background-color: #F6F5DE;
  /* padding: 160px 0; */
  padding: clamp(2.5rem, -0.787rem + 13.48vw, 10rem) 0;
  /* border-radius: clamp(1.563rem, 0.878rem + 2.81vw, 3.125rem) clamp(1.563rem, 0.878rem + 2.81vw, 3.125rem) 0 0; */
}

.Practice .TextContainer--Vartical {
  width: 100%;
  position: absolute;
}

.TextWrapper {
  /* Introduce_Innerを収めるための箱1つ目 */
  width: calc(980 / 1280 * 100%);
  max-width: 980px;
  margin:  0 auto;
}

.TextWrapper__Inner {
  margin: calc(-24px / 2);
}


.Practice .Introduce {
  /* 要素３カラム、そこから余白-20px-20px */
  width: calc(100% / 3 - 24px);
  /* Introduce-Innerのrelative */
  position: relative;
  margin: calc(24px / 2);
  /* 300pxの箱の縦横比を保持 */
  aspect-ratio: 1;
}

.Introduce__Inner {
  display: flex;
  justify-content: flex-end;
  /* Introduceに対してwidth :100%; */
  width: 100%;
  position: absolute;
  /* .TextWrapperからみて bottom: 0;?*/
  bottom: 0;
  font-size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem);
  /* align-items: flex-end; */
}

.Practice .SectionTitle {
  width: calc((88 / ((980 - 24 - 24) / 3)) * 100%);
  min-width: 32px;
  /* padding: 0 0 clamp(2.5rem, -0.787rem + 13.48vw, 10rem)  0; */
  order: 2;
}


.Practice .SectionTitleImage {
  width: 100%;
}

.Practice .Introduce__Description {
  line-height: 2;

  margin: calc((240 / ( (980 - 24 - 24) / 3)) * 100%) calc((40 / ( (980 - 24 - 24) / 3)) * 100%) 0 0;
  /*元々、 calc((160 / ( (980 - 24 - 24) / 3)) * 100%) 0 0 0 していた*/
}

.ScrollListWrapper {
  /* 作品コンポーネントを並べるための箱 */
  width: calc(980 / 1280 * 100%);
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

/* ul */
.Practice .ScrollList {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-24px / 2) ;
  overflow: hidden;
}

.Practice .ScrollList::before {
  content: "";
  display: block;
  /* width・marginは、liで決めたサイズと同じにする （構造を全く同じにする）*/
  width: calc(100% / 3 - 24px);
  /* width: calc(326.666666667 / 980 * 100% - 24px); */
  margin: calc(24px / 2);
  /* background-color: #C2C19B; */
}

/* li */
.Practice .ScrollList__Item {
  width: calc(100% / 3 - 24px);
  margin: calc(24px / 2);
  border-radius: calc((50 / ( (980 - 24 - 24) / 3)) * 100%);
}

/* li > a */
.Practice .ScrollList__ItemLink {
  border-radius: calc((50 / ( (980 - 24 - 24) / 3)) * 100%);
  display: block;
  /* outline: solid 1px #000; */
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* .Practice .ScrollList__ItemLink:hover .ScrollList__ItemLinkInner {
  opacity: 1;
} */

/* hover したときに、説明文がふわっと浮き上がるアニメーション */
.Practice .ScrollList__ItemLink:hover .ScrollList__ItemLinkInner {
  animation-name: SlideUpAnime;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

  @keyframes SlideUpAnime {
    from {
      /* transform: translateY(calc((150 / ((980 - 24 - 24) / 3)) * 100%)); */
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }

.Practice .ScrollList__ItemLinkInner {
  position: absolute;
  bottom: 0;
  z-index: 2;
  /* transform: translateY(calc((172 / 171) * 100%)); と同じ*/
  /* アニメーションしていないときも、紹介文を隠しておくため */
  transform: translateY(100%);
}



/* li > a > img */
.Practice .ScrollList__ItemLinkImage {

  display: block;
  position: relative;
  width: 100%;
}

.Practice .ScrollHover {
  text-align: center;
    /* font-size: 14-16px; */
  font-size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem);
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  min-height: calc(150 / 300 * 100%);

  padding: calc(36 / ((980 - 24 - 24) / 3) * 100%);
}

.ScrollHover__Name {
  border-bottom: 2px dotted;
  padding: 0 0 8px;
  font-size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem);
}

.ScrollHover__Description {
  padding: 16px 0 0;
  font-size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem);

  /* …に省略するところ */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.Practice .TextButton {
  margin: 64px 0 0;
}

/* Practice ここまで */


/* About */
/* h1 */
.SectionTitle--Home--about {
  width: calc((450 / 1280) * 100%);
  margin: 0 auto;
  transform: translateY(-50%);
  min-width: 200px;
  max-width: 450px;
}

/* svg */
.SectionTitleImage--About {
  width: 100%;
}

.About__Item {
  background-color: #fffef2;
  /* border-radius: calc(50 / 200 * 100%); */
  /* padding: 0 calc((160 / 1280) * 100%); */
}

.About__Inner {
  display: flex;
  align-items: flex-start;
  /* min: 40px max: 88px */
  padding: clamp(2.5rem, 1.185rem + 5.39vw, 5.5rem) 0;
  width: calc(995 / 1280 * 100%);
  margin: 0 auto;
  max-width: 995px;
}

.About__InnerText {
  display: flex;
  flex-direction: column;
  padding :0 0 0 calc(72 / 995 * 100%);
  width: calc((995 - 200) / 995 * 100%);
  line-height: 2;
}

.About__InnerTextName {
  /* font-size: 24px; */
  font-size: clamp(1rem, 0.781rem + 0.9vw, 1.5rem);
  margin: 0 0 calc(40 / (995 - 200 - 72) * 100%) 0;
  font-family: "HigureGothic-Medium";
}

/* わたしについて　アイコン画像 */

.About__InnerIcon {
  order: -1;
  outline: solid 1px #C2C19B;
  /* margin: 0 calc((72 / 1280) * 100%) 0 0; */
  width: calc(200 / 995 * 100%);
  border-radius: calc(50 / 200 * 100%);
  overflow: hidden;
  min-width: 100px;
  max-width: 200px;
}

.About__InnerIconImage {
  width: 100%;
}
