/* これは、 モーダル の中身のスタイルです*/
/* 元々modal前に使っていた、必要のないスタイルは少しずつ削除する */
.PracticeList__ItemLink {
  cursor: pointer;
  display: inline-block;
}

/* #PopupButton {
  display: none;
} */

/* .Overlay {
  display: none;
  position: relative;
} */

/* #PopupButton:checked + .Overlay {
  display: block;
  z-index: 9999;
  background-color: #ECECE3;
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
} */


.PracticePopupContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.PracticePopupContainer::-webkit-scrollbar{
  display: none;
}

/*
.Practice__Popup {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto 0;

  width: 400px;
} */

.PopupItem {
  /* max-width = 画像のサイズに則る */
  /* padding: 36px 200px; */

  /* ポップアップの位置、センターにしたければ.PopupItemのpositionのプロパティ、.Practice__Popupのposition:relative;、widthとheightを消す */
  /* position: absolute;
  top: 64px;
  padding: 36px 232px;
  background-color: #FFF;
  border-radius: 50px;

  display: flex;
  flex-direction: column;

  text-align: center; */

  border-radius: 0;
  padding: 0;
  margin: 0;
}

.PopupItem__Desctiption {
  padding: 32px 0 16px;

  border-bottom: 2px dotted;
}

.PopupItem__DesctiptionTitle {
  font-size: 24px;
  padding: 0 0 8px;

}

.PopupItem__DescriptionText {
  overflow-y: auto;
  max-height: 10vh;
  margin: 24px 0 32px;
}

.PopupItem__DescriptionText::-webkit-scrollbar{
  display: none;
}

.PopupItem__DesctiptionDate {
  display: block;
  font-size: 1em;
}

.PopupItem__Image {

  display: flex;
  justify-content: center;
}

.PopupItem__ImageInner {
  width: 400px;
  height: 400px;
}

/* .PopupCloseButton {
  position: relative;

  display: flex;
  justify-content: center; */
  /* padding: 36px 0 0 0; */
/* } */


/* .PopupCloseButton__innerText {
  cursor: pointer;
  border: solid;
  border-radius: 50px;
  background-color: #FFF;
  padding: 16px;
  display: block;
} */

/* popupここまで */



/* practice */
.PracticeWrapper {
  /* background-color: bisque; */

  margin: 0 auto;
  background-color: #F6F5DE;
  border-radius: 50px 50px 0 0;
  padding: 72px 150px 0 150px;
}

.PracticeTest {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.Title {
  padding: 72px 0 88px;
}

.TitleText {
  display: block;
  width: 320px;
  margin: 0 auto;
}

.PracticeTest__Image {
  width: 300px;
  flex: 0 0 30%;
  margin: 40px 0 0;
  box-sizing: border-box;
}

.PracticeTest__ImageInner {
  display: block;
  width: 100%;

  /* border-radius: 50px; */
}

.Section__Footer--Practice .Section__FooterButton {
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* justify-content: start; */
  padding: 160px 0;

}

.Practice__Container {
  padding: 72px 150px 0;
}



/* ここから、Homeのコピペ（スタイル合わせるために、htmlもHomeのコピペ使いたい） */

.Practice .SectionTitle {
  width: calc((400 / 1280) * 100%);
  margin: calc(72 / 1280 * 100%) auto calc(180 / 1280 *100%);
  min-width: 180px;
  max-width: 400px;
}

@media (width < 768px) {
  .Practice .SectionTitle {
    margin: calc(24 / 390 * 100%) auto calc(40 / 390 * 100%);
  }
}

.Practice .ScrollList {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-24px / 2) ;
  overflow: hidden;
}

@media (width < 768px) {
  .Practice .ScrollList {
    margin: calc(-8px / 2);
  }
}

/* .Practice .ScrollList::before { */
  /* content: ""; */
  /* display: block; */
  /* width・marginは、liで決めたサイズと同じにする （構造を全く同じにする）*/
    /* width: calc(326.666666667 / 980 * 100% - 24px);と同じ */
  /* width: calc(100% / 3 - 24px); */
  /* margin: calc(24px / 2); */
/* } */

/* @media (width < 768px) {
  .Practice .ScrollList::before {
    width: calc(100% / 3 - 8px);
    margin: calc(8px / 2);
  }
} */

/* .ScrollList__Item:last-child {
  display: none;
} */

@media (width < 768px) {
  .ScrollList__Item:last-child {
    display: block;
  }
}

@media (width < 768px) {
  .Practice .ScrollList::before {
    width: 100%;
    margin: 0;
  }
}

/* li */
.Practice .ScrollList__Item {
  width: calc(100% / 3 - 24px);
  margin: calc(24px / 2);
  border-radius: calc((50 / ( (980 - 24 - 24) / 3)) * 100%);
}

@media (width < 768px) {
  .Practice .ScrollList__Item {
    width: calc(100% / 3 - 8px);
    margin: calc(8px / 2);
  }
}

/* li > a */
.Practice .ScrollList__ItemLink {
  border-radius: calc((50 / ( (980 - 24 - 24) / 3)) * 100%);
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* hover したときに、説明文がふわっと浮き上がるアニメーション */
.Practice .ScrollList__ItemLink:hover .ScrollList__ItemLinkInner {
  animation-name: SlideUpAnime;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

  @keyframes SlideUpAnime {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }

.Practice .ScrollList__ItemLinkInner {
  position: absolute;
  bottom: 0;
  z-index: 2;
  /* アニメーションしていないときも、紹介文を隠しておくため */
  /* transform: translateY(calc((172 / 171) * 100%)); と同じ*/
  transform: translateY(100%);
}

@media (width < 768px) {
  .Practice .ScrollList__ItemLinkInner {
    height: 100%;
    width: 100%;
  }
}


/* li > a > img */
.Practice .ScrollList__ItemLinkImage {
  display: block;
  position: relative;
  width: 100%;
}

/* hover アクション */
.Practice .ScrollHover {
  text-align: center;
    /* font-size: 14-16px; */
  font-size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem);
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  min-height: calc(150 / 300 * 100%);
  padding: calc(36 / ((980 - 24 - 24) / 3) * 100%);
}

@media (width < 768px) {
  .Practice .ScrollHover {
    margin: 0 auto;
    /* 12px - 16px */
    font-size: clamp(0.75rem, 0.64rem + 0.45vw, 1rem);
    width: 100%;
    height: 100%;
    padding: calc(10 / ((342 - 8 - 8) / 3) * 100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.ScrollHover__Name {
  border-bottom: 2px dotted;
  padding: 0 0 8px;
  font-size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem);
}

@media (width < 768px) {
  .ScrollHover__Name {
    border-bottom: none;
    font-family: "HigureGothic-Medium";
      /* …に省略するところ */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}



.ScrollHover__Description {
  padding: 16px 0 0;
  font-size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem);

  /* …に省略するところ */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media (width < 768px) {
  .ScrollHover__Description {
    display: none;

    padding: 0;
  }
}


.Practice .TextButton {
  margin: calc(24 / 390 * 100%) 0 0;
}

/* Practice ここまで */
