/* popup */
.PracticeList__ItemLink {
  cursor: pointer;
  display: inline-block;
}

#PopupButton {
  display: none;
}

.Overlay {
  display: none;
  /* position: fixed; */
  position: relative;
}

#PopupButton:checked + .Overlay {
  display: block;
  z-index: 9999;
  background-color: #ECECE3;
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}


.PracticePopupContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.PracticePopupContainer::-webkit-scrollbar{
  display: none;
}


.Practice__Popup {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto 0 ;

  width: 400px;
}

.PopupItem {
  /* max-width = 画像のサイズに則る */
  /* padding: 36px 200px; */

  /* ポップアップの位置、センターにしたければ.PopupItemのpositionのプロパティ、.Practice__Popupのposition:relative;、widthとheightを消す */
  position: absolute;
  top: 64px;
  padding: 36px 232px;
  background-color: #FFF;
  border-radius: 50px;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.PopupItem__Desctiption {
  padding: 32px 0 16px 0;

  border-bottom: 2px dotted;
}

.PopupItem__DesctiptionTitle {
  font-size: 24px;
  padding: 0 0 8px 0;

}

.PopupItem__DescriptionText {
  overflow-y: auto;
  /* margin: 0 -36px; */
  max-height: 10vh;
  margin: 24px 0 32px 0;
}

.PopupItem__DescriptionText::-webkit-scrollbar{
  display: none;
}

.PopupItem__DesctiptionDate {
  display: block;
  font-size: 1em;
}

.PopupItem__Image {

  display: flex;
  justify-content: center;
}

.PopupItem__ImageInner {
  width: 400px;
  height: 400px;
}

.PopupCloseButton {
  position: relative;

  display: flex;
  justify-content: center;
  /* padding: 36px 0 0 0; */
}


/* .PopupCloseButton__innerText {
  cursor: pointer;
  border: solid;
  border-radius: 50px;
  background-color: #FFF;
  padding: 16px;
  display: block;
} */

/* popupここまで */



/* practice */
.PracticeWrapper {
  /* background-color: bisque; */

  margin: 0 auto;
  background-color: #F6F5DE;
  border-radius: 50px 50px 0 0 ;
  padding: 72px 150px 0 150px;
}

.PracticeTest {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.Title {
  padding: 72px 0 88px 0  ;
}

.TitleText {
  display: block;
  width: 320px;
  margin: 0 auto;
}

.PracticeTest__Image {
  width: 300px;
  flex: 0 0 30%;
  margin: 40px 0 0;
  box-sizing: border-box;
}

.PracticeTest__ImageInner {
  display: block;
  width: 100%;

  /* border-radius: 50px; */
}

.Section__Footer--Practice .Section__FooterButton {
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* justify-content: start; */
  padding: 160px  0;

}

.Practice__Container {
  padding: 72px 150px 0 150px;
}
