/* これは、Worksの下層ページの、共通するスタイルを当てるためのCSSファイルです */

/* 画面サイズ 600px 未満
@media (width < 600px) {
  スタイルルール
}

画面サイズ 600px 以上 1200px 未満
 @media (600px <= width < 1200px) {
  スタイルルール
 }

画面サイズ 1200px 以上
@media (1200px <= width) {
  スタイルルール
}  */



.WorkIntroduce__Inner {
  /* 14px - 16px */
  font-size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem);
  line-height: calc(32 / 16);
}

.WorkIntroduce__Top {
  /* 72px - 160px */
  margin: 0 0 clamp(4.5rem, 2.09rem + 9.89vw, 10rem);
}

@media (width < 768px) {
  .WorkIntroduce__Top {
    margin-top: calc(24 / 390 * 100%);
  }
}

.WorkIntroduce__TopInner {
  border-radius: clamp(1.563rem, 0.878rem + 2.81vw, 3.125rem);
  overflow: hidden;
  /* 32px　- 72px , 24px - 78px*/
  padding: clamp(2rem, 0.904rem + 4.49vw, 4.5rem) clamp(1.5rem, 0.021rem + 6.07vw, 4.875rem);
  width: calc(1150 / 1280 * 100%);
  max-width: 1150px;
  background-color: #f6f5de;

  margin: 0 auto;
}

@media (width < 768px) {
  .WorkIntroduce__TopInner {
    width: 100%;
  }
}

.WorkIntroduce__TopText {
/* 12px - 16px */
  font-size: clamp(0.75rem, 0.64rem + 0.45vw, 1rem);
}


.WorkIntroduce__TopSectionTitle {
  font-family: "HigureGothic-Black";
  /* 32px - 48px */
  font-size: clamp(2rem, 1.562rem + 1.8vw, 3rem);
  /* 8px - 24px */
  margin: 0 0 clamp(0.5rem, 0.062rem + 1.8vw, 1.5rem);
  line-height: normal;
}

.WorkIntroduce__TopDate {

}

.WorkIntroduce__TopPart {
  position: relative;
  /* 8px SP: 16px （メディアクエリ）*/
  padding: 0 0 8px;
}


.WorkIntroduce__TopWorkIntroduceContainer::before {
  content: "";
  height: 1px;
  background-size: 10px 1px;
  background-image: linear-gradient(to right, #000, 5px, transparent 5px, transparent 10px);
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  width: 100%;
}

.WorkIntroduce__TopWorkIntroduceContainer {
  position: relative;
  /* SPと同じなので相対値なし */
  padding: 32px 0 0;
}

.WorkIntroduce__TopWorkIntroduce {
  display: flex;
}

@media (width < 768px) {
  .WorkIntroduce__TopWorkIntroduce  {
    flex-direction: column;
  }
}


.WorkIntroduce__TopWorkIntroduceDescription {
  width: calc(378 / 994 * 100%);
  /* 24px - 64px , SP:48px(メディアクエリ)*/
  margin: 0 clamp(1.5rem, 0.404rem + 4.49vw, 4rem) 24px 0;
}

@media (width < 768px) {
  .WorkIntroduce__TopWorkIntroduceDescription  {
    width: 100%;
    margin: calc(24 / 342 * 100%) 0 calc(48 / 342 * 100%);
  }
}

.WorkIntroduce__TopWorkIntroduceMv {
  width: calc(552 / 994 * 100%);
  /* 角丸はSP版も25px */
  border-radius: 25px;
  overflow: hidden;
  height: 100%;
}

@media (width < 768px) {
  .WorkIntroduce__TopWorkIntroduceMv {
    width: 100%;
    order: -1;
  }
}

.WorkIntroduce__TopWorkIntroduceMvImage {
  width: 100%;
}



.WorkIntroduce__LinkButton {
  /* display: inline-block; */
  width: calc(378 / 994 * 100%);
  /* 24px - 64px */
  margin: 0 clamp(1.5rem, 0.404rem + 4.49vw, 4rem) 0 0;
  display: flex;
  justify-content: end;
}

@media (width < 768px) {
  .WorkIntroduce__LinkButton {
    width: 100%;
    margin: 0;
  }
}

.WorkIntroduce__LinkButtonInner {
  display: flex;
  position: relative;
}



.WorkIntroduce__LinkButtonInner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .4s;
}

.WorkIntroduce__LinkButtonInner:hover::after {
  transform: scale(1);
}

.WorkIntroduce__ButtonInnerText {
  /* 矢印のmarginは、SPも16px */
  margin: 0 16px 0 0;
}

.WorkIntroduce__ButtonArrow {
  display: block;
  width: 16px;
}



.WorkIntroduce__ComponentWrapper {
  /* width: calc(1150 / 1280 * 100%); */
  margin: 0 auto ;
  /* 48px　- 160px */
  padding: clamp(3rem, -0.067rem + 12.58vw, 10rem) 0;
  width: calc(1150 / 1280 * 100%);
  max-width: 1150px;
  background-color: #F6F5DE;
  border-radius: clamp(1.563rem, 0.878rem + 2.81vw, 3.125rem) clamp(1.563rem, 0.878rem + 2.81vw, 3.125rem) 0 0;
  overflow: hidden;
}



.WorkIntroduce__ComponentWrapperInner {
  margin: 0 auto;
  width: calc(720 / 994 * 100%);
  max-width: 720px;
}

.WorkIntroduce__ComponentItem {
  /* 40px - 64px */
  margin: clamp(2.5rem, 1.843rem + 2.7vw, 4rem) auto;

}

.WorkIntroduce__ComponentItem:first-child {
  margin-top: 0;
}

.WorkIntroduce__ComponentItem:last-child {
  /* 72px - 160px */
  margin: 0 0 clamp(4.5rem, 2.09rem + 9.89vw, 10rem);
}


.WorkIntroduce__ComponentItem--Other.WorkIntroduce__ComponentTitle {
  /* 8px - 24px */
  padding-bottom: clamp(0.5rem, 0.062rem + 1.8vw, 1.5rem) ;
}

.WorkIntroduce__ComponentTitle {
  margin-bottom: calc(clamp(2.5rem, 1.843rem + 2.7vw, 4rem) *-1 );
}


.WorkIntroduce__ComponentTitleInner {
  font-family: "HigureGothic-Black";
  /* 24px - 32px */
  font-size: clamp(1.5rem, 1.281rem + 0.9vw, 2rem);
}

.WorkIntroduce__ComponentImg {
  width: 100%;
}

.WorkIntroduce__ComponentImgInner {
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
}

.WorkIntroduce__ComponentImgInnerImage {
  width: 100%;
}

.WorkIntroduce__ComponentText {

}

.WorkIntroduce__ComponentTextInner {

}

.WorkIntroduce__ComponentVideo {
  aspect-ratio: 16 / 9;
  border-radius: 25px;
  overflow: hidden;
}

.WorkIntroduce__ComponentVideoInner {
  width: 100%;
  height: 100%;
}


.WorkIntroduce .Section__FooterInner {
  margin: 0 auto;
  width: calc(1150 / 1280 * 100%);
  overflow: visible;
  border-radius: 0;
}


.WorkIntroduce .TopButton--Works {
  margin: 0 0 0 -40px;
    /* 90 * 2 は両サイドの padding の値 */
  width: calc(68 / (1150 - (90 * 2)) * 100%);
}
