.PracticeWrapper {
  width: 100%;
  /* position: fixed; */
}

.PracticeTest {
  display: flex;
  background-color: antiquewhite;
  width: 90%;
  height: 100%;
  padding: 80px;
  margin: 64px auto;
  border-radius: 50px;
  flex-direction: row wrap;
}


.Title {
  width: 100%;
}

.TitleText {
  display: block;
  margin: 64px auto;
  width: 20vw;
}
